.header {
    display: flex;
     height: 200px;
     border: 1px red solid;
     justify-content: center;
     align-items: center;
}

.content {
    background-color: aqua;
}

.link {
    font-size: 30px;
    color: blue;
    text-decoration: none;
}